html,body {
    font-size: 62.5%;
    font-family: Calibri, helvetica, SansSerif, serif;
}

.registerForm h1 {
    margin: 0 0 2rem 0;
    padding: 0 0 2rem 0;
    font-size: 2.4rem;
    text-align: center;
    border-bottom: 1px solid #f1f1f1;
}
.registerForm label {
    font-size: 1.8rem;
}
.registerForm input ,textarea{
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: inline-block;
    width: 100%;
    height: 5vh;
    outline: none;
    border: none;
    font-size: 1.5rem;
    background-color: #f1f1f1;

}
textarea {
    height: 30vh;
    color: lightgray;
    resize: none;
}
.registerForm input[type="radio"] {
    margin-bottom: 0;
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    background-color: #f1f1f1;

}
.registerForm fieldset {
    margin-top: 2rem;
    border: none;
    padding: 0;
}
.registerForm legend {
    font-size: 1.8rem;
    padding: 0;
    margin-bottom: 1rem;
}
.registerForm textarea {
    display: block;
}
.registerForm {
    margin: 0 auto;
    padding: 5rem;
    width:60% ;
    background-color: #aed8e6;
}
.check,.match {
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    font-size: 1.5rem;
}
.container {
    position: relative;
    font-size: 1.5rem;
}
input:valid + span.check:after {
    content: "✔";
    color: green;
}
input:invalid + span.check:after {
    content: "❌";
}
ul {

    padding-left: 1.5rem;
    margin: 0 0 2rem;
}
input[type=radio]:invalid {
    /*change css to make border red */
    -webkit-appearance: none;
    border-radius: 50%;
    border: 1px solid red;
}
textarea:invalid + span:after{
    content: "❌";
}
textarea:valid + span:after{
    content: "✔";
    color: green;

}
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.registerbtn:hover {
    opacity: 1;
}
